nav{
    background-color: #40B6BD;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}

nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
    transition: 0.3s;

}

nav li a:hover{
    color: #2A5B97;
    text-decoration: none;
    transition: 0.3s;

}

.mybtn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 1.5em;
    color: white;
    background-color: #40B6BD;
    margin: 20px 20px;
    text-align: center;
    font-weight: bold;
    display: block; 
    transition: 0.3s;
    border-radius: 5px;
}

.mybtn:hover{
    background-color:#2A5B97;
    color: white;
    text-decoration: none;
    transition: 0.3s;

}

.adminDashName{
    font-weight: bold;
    color: white;
    padding-right: 10px;
}

.admin_list{
    margin: 50px;
    text-align: center;
}

.admin_list_head{
    background-color:#2A5B97;
    color: white;
    font-weight: bold;
}

.admin_list_item{
    color: #2A5B97;
    font-weight: bold;
}